{% extends 'base.html.twig' %}

{% block title %}<title>Home</title>{% endblock %}

{% block body %}

<header>
    <div class="container Header">
        <svg class="Header__img" xmlns="http://www.w3.org/2000/svg" width="125" height="43" viewBox="0 0 125 43" fill="none">
            <path d="M28.0706 14.2845C28.0706 6.41964 21.7848 0.382812 14.0353 0.382812C6.28583 0.382813 0 6.41357 0 14.2845C0 22.1494 6.28583 28.1862 14.0353 28.1862C16.3128 28.1862 18.4688 27.6518 20.3576 26.7347L23.2485 29.7531L27.682 25.8602L24.9854 23.0361C26.9167 20.6615 28.0706 17.643 28.0706 14.2845ZM14.0353 22.2284C9.63828 22.2284 6.17044 19.0581 6.17044 14.2845C6.17044 9.51093 9.63828 6.34069 14.0353 6.34069C18.4324 6.34069 21.9002 9.51093 21.9002 14.2845C21.9002 15.9243 21.4751 17.3758 20.7827 18.6026L16.4646 14.0598L12.0311 17.9528L15.9241 22.0401C15.3107 22.1494 14.6912 22.2284 14.0353 22.2284Z" fill="#4643D3"/>
            <path d="M43.4117 8.55713V18.9849C43.4117 21.6936 41.9481 22.9204 39.8285 22.9204C37.9762 22.9204 36.4761 21.8151 36.4761 19.4465V8.55713H30.6943V20.2785C30.6943 25.4347 34.0103 28.1859 37.9033 28.1859C40.448 28.1859 42.3793 27.2689 43.4178 25.8538V27.6515H49.1996V8.55713H43.4117Z" fill="#4643D3"/>
            <path d="M55.5582 6.87494C57.447 6.87494 59.0261 5.30804 59.0261 3.43747C59.0261 1.5669 57.4531 0 55.5582 0C53.6694 0 52.0904 1.5669 52.0904 3.43747C52.0904 5.30804 53.6694 6.87494 55.5582 6.87494ZM52.6674 27.6516H58.4491V8.55723H52.6674V27.6516Z" fill="#4643D3"/>
            <path d="M67.0793 20.3937H80.7684C80.9202 19.671 80.9992 18.9058 80.9992 18.1041C80.9992 12.3345 76.8329 8.02246 71.203 8.02246C65.1115 8.02246 60.9453 12.4134 60.9453 18.1041C60.9453 23.7947 65.0326 28.1857 71.6281 28.1857C75.2903 28.1857 78.1447 26.8496 80.0335 24.2502L75.4057 21.6144C74.6344 22.4525 73.2861 23.0659 71.701 23.0659C69.5875 23.0659 67.8141 22.3797 67.0793 20.3937ZM66.9639 16.1181C67.5044 14.1686 68.968 13.0997 71.1666 13.0997C72.9035 13.0997 74.6344 13.9014 75.2539 16.1181H66.9639Z" fill="#4643D3"/>
            <path d="M94.8098 8.02246C92.2651 8.02246 90.3338 8.93952 89.2952 10.3546V8.55691H83.5135V27.6513H89.2952V17.2235C89.2952 14.5148 90.7589 13.288 92.8845 13.288C94.7369 13.288 96.237 14.3933 96.237 16.7619V27.6452H102.019V15.9238C102.019 10.7676 98.7027 8.02246 94.8098 8.02246Z" fill="#4643D3"/>
            <path d="M119.218 8.55691V10.3546C117.949 8.90308 116.054 8.02246 113.473 8.02246C108.42 8.02246 104.26 12.4134 104.26 18.1041C104.26 23.7947 108.426 28.1857 113.473 28.1857C116.06 28.1857 117.949 27.3051 119.218 25.8536V27.6513H125V8.55691H119.218ZM114.633 22.7623C111.973 22.7623 110.042 20.9646 110.042 18.1041C110.042 15.2375 111.967 13.4459 114.633 13.4459C117.293 13.4459 119.224 15.2436 119.224 18.1041C119.218 20.9646 117.293 22.7623 114.633 22.7623Z" fill="#4643D3"/>
            <path d="M8.08962 36.0454V42.5074H7.02679V36.0454H8.08962Z" fill="#4643D3"/>
            <path d="M20.3697 42.5076H19.313L16.1245 37.6854V42.5076H15.0617V36.0396H16.1245L19.313 40.8556V36.0396H20.3697V42.5076Z" fill="#4643D3"/>
            <path d="M32.911 36.0449L30.4817 42.5069H29.2549L26.8195 36.0449H27.9552L29.8683 41.4198L31.7936 36.0449H32.911Z" fill="#4643D3"/>
            <path d="M40.4297 36.902V38.7968H42.6586V39.6592H40.4297V41.6391H42.938V42.5015H39.3669V36.0396H42.938V36.902H40.4297Z" fill="#4643D3"/>
            <path d="M53.1714 42.5069L51.6835 39.9257H50.8757V42.5069H49.8129V36.0449H52.0418C52.5398 36.0449 52.9589 36.1299 53.299 36.3061C53.6452 36.4822 53.9002 36.713 54.0703 37.0045C54.2403 37.296 54.3254 37.624 54.3254 37.9823C54.3254 38.4014 54.2039 38.784 53.961 39.1301C53.718 39.4763 53.3415 39.7071 52.8313 39.8346L54.4286 42.513H53.1714V42.5069ZM50.8757 39.0755H52.0479C52.4427 39.0755 52.7463 38.9783 52.9467 38.7779C53.1472 38.5775 53.2504 38.3103 53.2504 37.9762C53.2504 37.6422 53.1532 37.381 52.9528 37.1928C52.7524 37.0045 52.4548 36.9073 52.054 36.9073H50.8818V39.0755H50.8757Z" fill="#4643D3"/>
            <path d="M62.2267 42.3432C61.8805 42.1913 61.6072 41.9788 61.4068 41.6994C61.2064 41.42 61.1092 41.0982 61.1092 40.7216H62.2449C62.2692 41.001 62.3785 41.2318 62.5728 41.4079C62.7672 41.5901 63.0405 41.6751 63.3927 41.6751C63.7571 41.6751 64.0426 41.584 64.2491 41.4079C64.4556 41.2318 64.5588 41.001 64.5588 40.7277C64.5588 40.5091 64.4981 40.3329 64.3705 40.1993C64.243 40.0657 64.0851 39.9564 63.8968 39.8835C63.7085 39.8106 63.4474 39.7317 63.1134 39.6406C62.6943 39.5313 62.3481 39.4159 62.087 39.3005C61.8258 39.1851 61.6011 39.009 61.4129 38.766C61.2246 38.5231 61.1335 38.2012 61.1335 37.8004C61.1335 37.4299 61.2246 37.1019 61.4129 36.8226C61.6011 36.5432 61.8562 36.3306 62.1963 36.1788C62.5303 36.027 62.919 35.9541 63.3563 35.9541C63.9818 35.9541 64.4981 36.112 64.8928 36.4217C65.2937 36.7376 65.5123 37.1627 65.5548 37.7093H64.3827C64.3645 37.4724 64.2551 37.272 64.0487 37.1019C63.8422 36.9319 63.5749 36.8529 63.2409 36.8529C62.9372 36.8529 62.6882 36.9319 62.5 37.0837C62.3056 37.2356 62.2145 37.4603 62.2145 37.7518C62.2145 37.9522 62.2753 38.1101 62.3967 38.2376C62.5182 38.3652 62.67 38.4684 62.8583 38.5413C63.0466 38.6142 63.2956 38.6931 63.6235 38.7842C64.0487 38.8996 64.4009 39.0211 64.6681 39.1365C64.9354 39.2519 65.1661 39.4341 65.3544 39.6831C65.5427 39.926 65.6398 40.254 65.6398 40.6609C65.6398 40.9888 65.5487 41.2986 65.3726 41.5901C65.1965 41.8816 64.9414 42.1124 64.6013 42.2946C64.2612 42.4707 63.8665 42.5618 63.4049 42.5618C62.9676 42.574 62.5728 42.495 62.2267 42.3432Z" fill="#4643D3"/>
            <path d="M73.523 36.0449V42.5069H72.4601V36.0449H73.523Z" fill="#4643D3"/>
            <path d="M81.7826 42.1486C81.2786 41.8693 80.8777 41.4745 80.5862 40.9704C80.2947 40.4663 80.1429 39.8954 80.1429 39.2638C80.1429 38.6322 80.2886 38.0674 80.5862 37.5633C80.8777 37.0592 81.2786 36.6705 81.7826 36.3851C82.2867 36.1057 82.8394 35.96 83.4406 35.96C84.048 35.96 84.6067 36.0996 85.1108 36.3851C85.6149 36.6645 86.0157 37.0592 86.3072 37.5633C86.5987 38.0674 86.7445 38.6322 86.7445 39.2638C86.7445 39.8954 86.5987 40.4663 86.3072 40.9704C86.0157 41.4745 85.6149 41.8693 85.1108 42.1486C84.6067 42.428 84.048 42.5737 83.4406 42.5737C82.8394 42.5737 82.2867 42.4341 81.7826 42.1486ZM84.5824 41.3591C84.9164 41.1648 85.1776 40.8854 85.3659 40.521C85.5541 40.1566 85.6513 39.7375 85.6513 39.2638C85.6513 38.7901 85.5541 38.371 85.3659 38.0067C85.1776 37.6483 84.9164 37.369 84.5824 37.1807C84.2484 36.9863 83.8658 36.8952 83.4406 36.8952C83.0155 36.8952 82.6329 36.9924 82.2989 37.1807C81.9648 37.375 81.7037 37.6483 81.5154 38.0067C81.3271 38.365 81.23 38.784 81.23 39.2638C81.23 39.7436 81.3271 40.1627 81.5154 40.521C81.7037 40.8854 81.9648 41.1648 82.2989 41.3591C82.6329 41.5534 83.0155 41.6506 83.4406 41.6506C83.8658 41.6506 84.2484 41.5534 84.5824 41.3591Z" fill="#4643D3"/>
            <path d="M98.6663 42.5076H97.6095L94.4211 37.6854V42.5076H93.3582V36.0396H94.4211L97.6095 40.8556V36.0396H98.6663V42.5076Z" fill="#4643D3"/>
            <path d="M106.701 36.902V38.7968H108.93V39.6592H106.701V41.6391H109.21V42.5015H105.638V36.0396H109.21V36.902H106.701Z" fill="#4643D3"/>
            <path d="M117.044 42.3432C116.698 42.1913 116.425 41.9788 116.224 41.6994C116.024 41.42 115.927 41.0982 115.927 40.7216H117.062C117.087 41.001 117.196 41.2318 117.39 41.4079C117.585 41.5901 117.858 41.6751 118.21 41.6751C118.574 41.6751 118.86 41.584 119.066 41.4079C119.273 41.2318 119.376 41.001 119.376 40.7277C119.376 40.5091 119.315 40.3329 119.188 40.1993C119.06 40.0657 118.902 39.9564 118.714 39.8835C118.526 39.8106 118.265 39.7317 117.931 39.6406C117.512 39.5313 117.165 39.4159 116.904 39.3005C116.643 39.1851 116.418 39.009 116.23 38.766C116.042 38.5231 115.951 38.2012 115.951 37.8004C115.951 37.4299 116.042 37.1019 116.23 36.8226C116.418 36.5432 116.674 36.3306 117.014 36.1788C117.348 36.027 117.736 35.9541 118.174 35.9541C118.799 35.9541 119.315 36.112 119.71 36.4217C120.111 36.7376 120.33 37.1627 120.372 37.7093H119.2C119.182 37.4724 119.072 37.272 118.866 37.1019C118.659 36.9319 118.392 36.8529 118.058 36.8529C117.755 36.8529 117.506 36.9319 117.317 37.0837C117.123 37.2356 117.032 37.4603 117.032 37.7518C117.032 37.9522 117.093 38.1101 117.214 38.2376C117.336 38.3652 117.487 38.4684 117.676 38.5413C117.864 38.6142 118.113 38.6931 118.441 38.7842C118.866 38.8996 119.218 39.0211 119.485 39.1365C119.753 39.2519 119.983 39.4341 120.172 39.6831C120.36 39.926 120.457 40.254 120.457 40.6609C120.457 40.9888 120.366 41.2986 120.19 41.5901C120.014 41.8816 119.759 42.1124 119.419 42.2946C119.079 42.4707 118.684 42.5618 118.222 42.5618C117.785 42.574 117.39 42.495 117.044 42.3432Z" fill="#4643D3"/>
        </svg>
        <nav id="navbar" class="Header__nav">
            <ul id="navbar-ul" class="Header__nav-list">
                <li data-page="page1"><a data-page="page1" href="">Pagina 1</a></li>
                <li data-page="page2"><a data-page="page2" href="">Pagina 2</a></li>
                <li data-page="page3"><a data-page="page3" href="">Pagina 3</a></li>
                <li id="nav-login-btn" data-page="login"><a data-page="login" href="">Login</a></li>
            </ul>
        </nav>
    </div>
</header>

<div>
    <div class="container Jumbo">
        <h1 id="jumbo-title" class="Jumbo__title">Bienvenido a la <br>HOME</h1>
        <img src="img/working-late.svg" alt="">
    </div>
</div>

<section id="content">

</section>
<div id="modal-container" class="modal-container">
    <div id="modal-bkg" class="modal-bkg"></div>
    <div class="modal">
        <form id="login-form" class="modal-form">
            <div class="img-wrapper">
                <img src="img/secure.svg" alt="">
            </div>
            <div class="login-wrapper">
                <div id="modal-alert" class="alert"></div>
                <input class="login-input" id="login-username" type="text" name="username" placeholder="user">
                <input class="login-input" id="login-password" type="text" name="password" placeholder="pass">
                <button class="login-btn" id="btn-login">Login</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="js/app.js"></script>
{% endblock %}