*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}
.container{
    max-width: 1500px;
    margin: 0 auto;
}
.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}

.Header__nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Header__nav-list li{
    margin-right: 30px;
    background: white;
    box-shadow: -4px -4px 12px hsl(0deg 0% 100% / 80%), 8px 8px 12px #dfe5f6;
    min-width: 120px;
    text-align: center;
    border-radius: 1em;
    height: 40px;
    line-height: 40px;
    color: #4643d3;
    
}

.Header__nav-list li:hover{
    background: #4643d3;
    box-shadow: none;
    transition: .3s;
    color:white;
}
.Header__nav-list li a{
    text-decoration: none;
}
li:hover a{
    color: white !important;
}

.Header__nav-list li a:visited,
.Header__nav-list li a:focus{
    color: #4643d3;
    text-decoration: none;
    outline: 0;
}
.Header__nav-list li a:hover{
    color: white;
}

.Jumbo{
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    margin-top: 10px;
}
.Jumbo__title{
    align-self: flex-start;
    margin-top: 40px;
    font-size: 3.5em;
}
.Jumbo img{
    height: 220px;
    width: auto;
    align-self: flex-end;
    margin-right: 53px;
}
.modal-container{
    display: none;
    
}
.modal-container.active{
    display: block;
}
.modal-bkg{
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0, 0.5);
}

.modal{
    width: 50%;
    height: 50%;
    min-height: 500px;
    background-color: white;
    position: fixed;
    top: 25%;
    left: 25%;
    border-radius: 50px;
    box-shadow: -4px -4px 12px hsl(0deg 0% 0% / 80%), 8px 8px 12px #000;
}
.modal:hover{
    box-shadow: none;
    transition: 0.3s;
}
.modal-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    height: 100%;
    width: 100%;
}
#content h2,
#content p{
    margin-left: 60px;
}

/* Table */
.wrapper {
    margin: 0 auto;
    padding: 40px;
    max-width: 800px;
  }
  
  .table {
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
  }
  @media screen and (max-width: 580px) {
    .table {
      display: block;
    }
  }
  
  .row {
    display: table-row;
    background: #f6f6f6;
  }
  .row:nth-of-type(odd) {
    background: #e9e9e9;
  }
  .row.header {
    font-weight: 900;
    color: #ffffff;
    background: #ea6153;
  }
  .row.green {
    background: #27ae60;
  }
  .row.blue {
    background: #2980b9;
  }
  @media screen and (max-width: 580px) {
    .row {
      padding: 14px 0 7px;
      display: block;
    }
    .row.header {
      padding: 0;
      height: 6px;
    }
    .row.header .cell {
      display: none;
    }
    .row .cell {
      margin-bottom: 10px;
    }
    .row .cell:before {
      margin-bottom: 3px;
      content: attr(data-title);
      min-width: 98px;
      font-size: 10px;
      line-height: 10px;
      font-weight: bold;
      text-transform: uppercase;
      color: #969696;
      display: block;
    }
  }
  
  .cell {
    padding: 6px 12px;
    display: table-cell;
  }
  @media screen and (max-width: 580px) {
    .cell {
      padding: 2px 16px;
      display: block;
    }
  }

.modal-form .img-wrapper{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-wrapper img{
  width: 105%;
}

.modal-form .login-wrapper{
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-input{
  width: 80%;
  padding: 6px 13px;
  border-radius: 100px;
  border: 1px solid #4643d3;
  margin-bottom: 30px;
}
.login-input:focus{
  outline: 0;
}

.login-btn{
  width: 50%;
  border-radius: 150px;
  border: none;
  background: #4643d3;
  color: white;
  padding: 9px;
  font-size: 0.9em;
  cursor: pointer;
}

.alert{
  display: none;
  width: 80%;
  padding: 15px 0;
  text-align: center;
  border-radius: 150px;
  margin-bottom: 15px;
}
.alert.active{
  display: block;
}
.warning{
  color: #664d03;
  background-color: #fff3cd;
  border: 1px solid #ffecb5;
}